@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .arrowHover {
    @apply after:content-[''] after:absolute after:top-[15%] after:bg-[url('/img/arrow.svg')] after:bg-no-repeat after:bg-contain after:bg-center after:right-[-3.29429vw] after:w-[2.19619vw] after:h-[2.56223vw]
  }

  .listCountryBanner {
    @apply relative text-white opacity-50 hover:opacity-100 hover:arrowHover
  }

  .buttonView {
    @apply w-[10.2489vw] h-[7.32064vw] text-[1.46413vw] text-center leading-none inline-flex justify-center items-center rounded-[50%] border bg-[length:400%] bg-[0] 
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
