@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
  font-family: 'atlas-grotesk';
  font-weight: normal;
  src: url('/fonts/Atlas-Grotesk/AtlasGrotesk-Regular.otf') format('otf');
}

@font-face {
  font-family: 'atlas-grotesk';
  font-weight: thin;
  src: url('/fonts/Atlas-Grotesk/AtlasGrotesk-Thin.otf') format('otf');
}

@font-face {
  font-family: 'atlas-grotesk';
  font-weight: light;
  src: url('/fonts/Atlas-Grotesk/AtlasGrotesk-light.otf') format('otf');
}

@font-face {
  font-family: 'atlas-grotesk';
  font-weight: medium;
  src: url('/fonts/Atlas-Grotesk/AtlasGrotesk-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Century Condensed Bold';
  /* font-weight: bold; */
  src: url('/fonts/Century-Condensed/Century-Condensed-Bold.ttf') format('ttf');
}


@layer components {
  body {
    @apply font-atlas-grotesk font-light
  }
  .arrow-hover {
    @apply after:content-[''] after:absolute after:top-[15%] after:bg-[url('/img/arrow.svg')] after:bg-no-repeat after:bg-contain after:bg-center after:right-[-3.29429vw] after:w-[2.19619vw] after:h-[2.56223vw]
  }

  .list-country-banner {
    @apply relative text-white opacity-50 hover:opacity-100 hover:arrow-hover
  }

  .score-received {
    @apply text-[2.56223vw] pt-[0.21962vw] px-[0.21962vw] bg-black group-hover:bg-[#7daeeb]
  }

  .button-view {
    @apply w-[10.2489vw] h-[7.32064vw] text-[1.46413vw] text-center leading-none inline-flex justify-center items-center rounded-[50%] border bg-[length:400%] bg-[0] 
  }

  .header-transparent {
    @apply text-white bg-transparent
  } 
  .header-white {
    @apply text-black bg-[#F4F2EF]
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 2px;
  }
 
  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272E;
  }
 
  .scrollbar::-webkit-scrollbar-track {
    background: rgba(36,46,82,.2)
  }
 }
 